.Main {
  //padding: 0 1.5625rem 0 1.5625rem ;
  //background-color: yellowgreen;
}

.Hero {
  
  margin: 1.4rem 1.5625rem 6.25rem 1.5625rem ;
  text-align: center;

  img {
    height: 20.4rem;
  }

  h1 {
    line-height: 1.1;
  }

  div:first-of-type {
    margin: 1.4rem;
    color: $neutralSecondary;
  }
    
}
