// Colors
$primary: hsl(180, 66%, 49%);
$primaryDark: hsl(257, 27%, 26%);
$secondary: hsl(0, 87%, 67%);
$neutral: hsl(0, 0%, 75%);
$neutralCorrected: #F0F1F7;
$neutralSecondary: hsl(257, 7%, 63%);
$neutralDark: hsl(255, 11%, 22%);
$neutralDarkSecondary: hsl(260, 8%, 14%);

// Font Size
$fontMd: 1.125rem;